{{ top_image }}
<div class="container view-page">
    <div class="row row-equal-columns deck-box-head">
        <div class="col-xs-12">
            <div class="deck-box-head--heading">
                <div>{{ 'Paid jobs' | t }}</div>
            </div>
        </div>
    </div>
    {{ paid_jobs }}

    <div class="row row-equal-columns deck-box-head">
        <div class="col-xs-12">
            <div class="deck-box-head--heading">
                <div>{{ 'Volunteer jobs' | t }}</div>
            </div>
        </div>
    </div>
    {{ volunteer_jobs }}

</div>

