{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
  'region',
  'region-' ~ region|clean_class,
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="header-controls">
      <div class="site-logo--container">
        {% if is_track_page %}
          <a href="{{ track_frontpage_path }}" rel="home" class="track-logo site-logo">
            <img src="{{ '/themes/custom/mungo/assets/images/track/logo.svg' }}" alt="{{ 'Home - TRACK'|t }}"/>
          </a>
        {% else %}
          <a href="{{ path('<front>') }}" rel="home" class="site-logo">
            <img src="{{ dds_logo }}" alt="{{ 'Home'|t }}">
          </a>
        {% endif %}
      </div>

      <button class="header__burger js-burger-menu-toggle">
        <span class="header__burger-open-text">{{ 'Menu'|t }}</span>
        <span class="header__burger-close-text">{{ 'Close'|t }}</span>

        <svg class="burger-icon" width="30" height="30" viewbox="0 0 100 100" stroke="red" xmlns="http://www.w3.org/2000/svg">
          <path class="burger-icon__line burger-icon__line--top" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
          <path class="burger-icon__line burger-icon__line--middle" d="M 20,50 H 80"/>
          <path class="burger-icon__line burger-icon__line--bottom" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
        </svg>
      </button>
    </div>
    {% include "@mungo/navigation/burger-menu.twig" with {
      burger_menu: is_track_page ? track_burger_menu : main_burger_menu,
      search_form: elements.ddssearchform['#markup'],
      attributes: create_attribute(),
    } %}
  </div>
{% endif %}
