{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'generic-link-card',
  has_track_styling ? 'generic-link-card--track' : '',
] %}
{% set link_url = content.field_generic_link_card_link.0['#title'] %}
{% set link_is_external = content.field_generic_link_card_link.0['#url'].isExternal() %}

{% block paragraph %}
  <a
    {{ attributes.addClass(classes) }}
    {{ attributes.setAttribute('href', link_url)}}
  >
    <header class="generic-link-card__header">
      <h2 class="generic-link-card__title">
        {{ content.field_generic_link_card_title.0['#context'].value }}
      </h2>
      <svg
        class="generic-link-card__external-icon {{ link_is_external ? '' : 'generic-link-card__external-icon--hidden' }}"
        width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
      >
        <g id="lucide/external-link">
          <path id="Vector" d="M12.5 2.5H17.5M17.5 2.5V7.5M17.5 2.5L8.33333 11.6667M15 10.8333V15.8333C15 16.2754 14.8244 16.6993 14.5118 17.0118C14.1993 17.3244 13.7754 17.5 13.3333 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V6.66667C2.5 6.22464 2.67559 5.80072 2.98816 5.48816C3.30072 5.17559 3.72464 5 4.16667 5H9.16667" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
      </svg>
    </header>

    {% if content.field_generic_link_desc.0 %}
      <p class="generic-link-card__desc">
        {{ content.field_generic_link_desc.0['#context'].value }}
      </p>
    {% endif %}
  </a>
{% endblock paragraph %}
