{#
/**
 * @file
 * Theme override for a field.
 *
 * Template for a column of a deck. The main change is that we inject
 * bootstrap column-classes into the field__item element that wraps the
 * individual field instances the deck contains (probably paragraphs) and
 * wrap the full list of field__items in a single row.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
set classes = [
'field',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
'field--label-' ~ label_display,
]
%}
{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
    {% if multiple %}
        <div{{ attributes }}>
            {# Wrap the items in a row if they have column classes#}
            {% if item_col_classes %}
            <div class="row row-equal-columns row--grid">
                {% endif %}
                {% for item in items %}
                    <div{{ item.attributes.addClass('field__item', item_col_classes) }}>{{ item.content }}</div>
                {% endfor %}
                {% if item_col_classes %}
            </div>
            {% endif %}
        </div>
    {% else %}
        {# Wrap the items in a row if they have column classes#}
        {% if item_col_classes %}
            <div class="row">
        {% endif %}
        {% for item in items %}
            {{ item.content }}
        {% endfor %}
        {% if item_col_classes %}
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% if multiple %}
        <div class="field__items">
            {% endif %}
            {% if item_col_classes %}
            <div class="row">
                {% endif %}
                {% for item in items %}
                    <div{{ item.attributes.addClass('field__item', item_col_classes) }}>{{ item.content }}</div>
                {% endfor %}
                {% if item_col_classes %}
            </div>
            {% endif %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}
