<div class="cookieconsent-optout__all cookieconsent-optout__video cookieconsent-optout-{{provider['type']}}">
  <div class="cookieconsent-optout__accept-text">
    <a href="javascript:Cookiebot.renew();">{{ "Please accept"|trans }} {{ provider['type_name'] }}-{{ "cookies to see content from"|trans }}
      {{ provider['name'] }}.</a>
  </div>
</div>
