{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
      {# Favicon generated via  http://realfavicongenerator.net/ #}
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/mungo/assets/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/themes/custom/mungo/assets/images/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/themes/custom/mungo/assets/images/fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/themes/custom/mungo/assets/images/fav/manifest.json">
    <link rel="mask-icon" href="/themes/custom/mungo/assets/images/fav/safari-pinned-tab.svg" color="#001360">
    <link rel="shortcut icon" href="/themes/custom/mungo/assets/images/fav/favicon.ico">
    <meta name="msapplication-config" content="/themes/custom/mungo/assets/images/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
      {# Include hotjar script if flag is enabled and the user is anonomous #}
      {% if not logged_in and feature_flags.hotjar20171127 %}
        <script>
          (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:704561,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
      {% endif %}

      {# LinkedIN tracking script - start. #}
      {% if enable_linkedin_script %}
        <script type="text/plain" data-cookieconsent="statistics">
          _linkedin_partner_id = "3852801";
          window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
          window._linkedin_data_partner_ids.push(_linkedin_partner_id);
        </script>
        <script type="text/plain" data-cookieconsent="statistics">
          (function(l) { if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
            window.lintrk.q=[]} var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);})(window.lintrk);
        </script>
      {% endif %}
      {# LinkedIN tracking script - end. #}

  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
