{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}
{% set cookie_consent_category = cookie_consent_category|default("marketing") %}

<iframe{{ attributes }}{% if url is not empty %} data-src="{{ url }}{% if query is not empty %}?{{ query | url_encode }}{% endif %}{% if fragment is not empty %}#{{ fragment }}{% endif %}"{% endif %} data-cookieconsent="{{ cookie_consent_category }}"></iframe>
<div class="cookieconsent-optout__all cookieconsent-optout__video cookieconsent-optout-{{ cookie_consent_category }}">
  <div class="cookieconsent-optout__accept-text">
    <a href="javascript:Cookiebot.renew();">Acceptér venligst {{ cookie_consent_category|trans }}-cookies for at se filmen</a>
  </div>
</div>
